Source: epics-calc
Section: libdevel
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>= 10), dpkg-dev (>= 1.17.14),
               epics-debhelper (>= 8.14~), epics-dev, epics-asyn-dev,
               epics-sscan-dev, epics-seq-dev,
               rtems-sscan-mvme2100 <pkg.epics-base.rtems>,
               rtems-sscan-mvme3100 <pkg.epics-base.rtems>,
               rtems-sscan-mvme5500 <pkg.epics-base.rtems>,
               rtems-sscan-pc386 <pkg.epics-base.rtems>,
               rtems-asyn-mvme2100 <pkg.epics-base.rtems>,
               rtems-asyn-mvme3100 <pkg.epics-base.rtems>,
               rtems-asyn-mvme5500 <pkg.epics-base.rtems>,
               rtems-sscan-pc386 <pkg.epics-base.rtems>,
XS-Rtems-Build-Depends: rtems-epics, rtems-seq, rtems-sscan, rtems-asyn,
Standards-Version: 4.3.0
Homepage: http://aps.anl.gov/bcda/synApps/calc/calc.html
Vcs-Git: https://github.com/epicsdeb/epics-calc.git
Vcs-Browser: https://github.com/epicsdeb/epics-calc

Package: epics-calc-dev
Architecture: any
Depends: libcalc3.7.3 (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
Conflicts: epics-synapps, epics-synapps-dev,
Description: Additional calculator record types
 Run-time expression evaluation, similar to calcPostfix,
 in base, but extended to handle strings,  arrays, and
 additional numeric operations. calc also contains the
 transform record, which supports multiple interdependent
 expressions; aSub-record-based array-interpolation support;
 and the swait record, which is similar to the calcout record,
 but it writes using ca_put_notify(), and thus can detect
 the completion of any processing it causes.
 .
 This package contains headers and libraries needed at build time.

Package: libcalc3.7.3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Additional calculator record types
 Run-time expression evaluation, similar to calcPostfix,
 in base, but extended to handle strings,  arrays, and
 additional numeric operations. calc also contains the
 transform record, which supports multiple interdependent
 expressions; aSub-record-based array-interpolation support;
 and the swait record, which is similar to the calcout record,
 but it writes using ca_put_notify(), and thus can detect
 the completion of any processing it causes.
 .
 This package contains runtime libraries

Package: rtems-calc-mvme2100
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: epics-calc-dev (>= ${source:Version}),
         epics-calc-dev (<< ${source:Version}.1~),
         ${rtems:Depends}, ${misc:Depends},
Conflicts: rtems-synapps-mvme2100,
Description: Additional calculator record types
 Run-time expression evaluation, similar to calcPostfix,
 in base, but extended to handle strings,  arrays, and
 additional numeric operations. calc also contains the
 transform record, which supports multiple interdependent
 expressions; aSub-record-based array-interpolation support;
 and the swait record, which is similar to the calcout record,
 but it writes using ca_put_notify(), and thus can detect
 the completion of any processing it causes.
 .
 This package contains support for the MVME2100 VME SBC

Package: rtems-calc-mvme3100
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: epics-calc-dev (>= ${source:Version}),
         epics-calc-dev (<< ${source:Version}.1~),
         ${rtems:Depends}, ${misc:Depends},
Conflicts: rtems-synapps-mvme3100,
Description: Additional calculator record types
 Run-time expression evaluation, similar to calcPostfix,
 in base, but extended to handle strings,  arrays, and
 additional numeric operations. calc also contains the
 transform record, which supports multiple interdependent
 expressions; aSub-record-based array-interpolation support;
 and the swait record, which is similar to the calcout record,
 but it writes using ca_put_notify(), and thus can detect
 the completion of any processing it causes.
 .
 This package contains support for the MVME3100 VME SBC

Package: rtems-calc-mvme5500
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: epics-calc-dev (>= ${source:Version}),
         epics-calc-dev (<< ${source:Version}.1~),
         ${rtems:Depends}, ${misc:Depends},
Conflicts: rtems-synapps-mvme5500,
Description: Additional calculator record types
 Run-time expression evaluation, similar to calcPostfix,
 in base, but extended to handle strings,  arrays, and
 additional numeric operations. calc also contains the
 transform record, which supports multiple interdependent
 expressions; aSub-record-based array-interpolation support;
 and the swait record, which is similar to the calcout record,
 but it writes using ca_put_notify(), and thus can detect
 the completion of any processing it causes.
 .
 This package contains support for the MVME5500 VME SBC

Package: rtems-calc-pc386
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: epics-calc-dev (>= ${source:Version}),
         epics-calc-dev (<< ${source:Version}.1~),
         ${rtems:Depends}, ${misc:Depends},
Conflicts: rtems-synapps-pc386,
Description: Additional calculator record types
 Run-time expression evaluation, similar to calcPostfix,
 in base, but extended to handle strings,  arrays, and
 additional numeric operations. calc also contains the
 transform record, which supports multiple interdependent
 expressions; aSub-record-based array-interpolation support;
 and the swait record, which is similar to the calcout record,
 but it writes using ca_put_notify(), and thus can detect
 the completion of any processing it causes.
 .
 This package contains support for the pc386 RTEMS BSP
